# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Objetives:
* List popular languages for Data Science
* List coommon libraries for Data Science
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Java.

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Matplotlib
* Pandas
* PyTorch

|Data Science Tools|
|:---:|
|Jupyter Notebook|
|RStudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author: 
Paula Rodríguez Sánchez